<h2>Showing all albums</h2>
<div class='span-24 right'>
  <%= link_to 'New Album', new_album_path %>
</div>

<div class='span-24 albums'>
<% @albums.each do |album| %>
  <div class='span-24 album-horizontal'>
    <h3>
      <%= link_to album.name, album %>
      <% if album.user == current_user -%>
        ( <%= link_to 'Edit', edit_album_path(album) %> ,
        <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %> )
      <% end -%>
    </h3>
    <div>
      <% album.photos[0...3].each do |photo| %>
        <%= image_tag photo.image(:thumbnail) %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

